.body {
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
  }
  
  .footer {
      text-align: center;
      background-color: black;
      color: white;
  }